{% load static %}
{% load i18n %}
<div class="navbarBlock">
    <span>
        <a href="{% url 'index' %}" class="logo"><img src="{% static 'media/logo.svg' %}">BrightDent</a>
    </span>
    <span>
        <a href="{% url 'index' %}" class="left">Blog</a>
        <a href="{% url 'index' %}" class="left">Contact</a>
        <a href="{% url 'index' %}" class="left">About us</a>
        <a href="{% url 'index' %}" class="left"></a>
        <div class="dropdown">
            <button class="" type="button" data-bs-toggle="dropdown" aria-expanded="false"><img src="{% static 'media/menu.svg' %}"></button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Servies</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div>
    </span>
</div>