@font-face {
    font-family: monomakh;
    src: url(../font/Monomakh-Regular.ttf);
}
$color1: #2697c4;
$color2: #172869;
*{
    margin: 0;
    padding: 0;
}
html{
    width: 100%;
    height: 100%;
    max-width: 1920px;
    margin: auto;
    scroll-behavior: smooth;
}
body{
    color: white;
    p{
        margin: 0;
    }
    font-size: 1.3vw;
    a{
        text-decoration: none;
        color: white;
    }
    .btn{
        color: white;
    }
    #myBtn{
        display: none;
        position: fixed;
        bottom: 2vw;
        right: 2vw;
        z-index: 99;
        background: none;
        border: none;
        outline: none;
        color: white;
        cursor: pointer;
        transition: 2s;
        i{
            font-size: 2.5vw;
        }
    }
    #myBtn:hover{
        color: white;
    }
    .navbarBlock{
        display: flex;
    }
    font-family: monomakh;
    background: #03051f;
    background: linear-gradient(125deg, rgba(3,5,31,1) 0%, rgba(21,40,73,1) 56%);
    background-attachment: fixed;
    .navbarBlock{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 2vw 5vw;
        span{
            display: flex;
            align-items: center;
            .left{
                margin-right: 1vw;
                color: white;
            }
            .logo{
                font-size: 2vw;
                color: white;
                img{
                    margin-right: 1vw;
                    width: 4vw;
                }
            }
            .dropdown{
                button{
                    img{
                        width: 2vw;
                    }
                    background: none;
                    border: 0;
                }
                .dropdown-menu{
                    a{
                        color: white;
                    }
                    a:hover{
                        background: $color1;
                    }
                    background: rgba(255, 255, 255, 0.2);
                    border-radius: 0.7vw;
                    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                    backdrop-filter: blur(5px);
                    -webkit-backdrop-filter: blur(5px);
                    border: 1px solid rgba(255, 255, 255, 0.3);
                }
            }
        }
    }
    header{
        position: relative;
        .headerSlider{
            div{
                img{
                    width: 100%;
                    height: 90vh;
                    object-fit: cover;
                    filter: brightness(60%);
                }
            }
        }
        .headerStatic{
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            bottom: 15vw;
            width: 100%;
            justify-content: center;
            .btn{
                padding: 1vw 3vw;
                background-color: $color1;
                border-radius: 5vw;
                font-size: 1.4vw;
                margin-top: 5vw;
            }
        }
    }
    main{
        min-height: 100vh;
        .blog{
            margin: 2vw 5vw;
            display: grid;
            grid-template-columns: auto auto auto;
            justify-content: space-between;
            .articles{
                a{
                    .card {
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 27vw;
                        height: 15vw;
                        padding: 1vw;
                        border-radius: 1vw;
                        overflow: hidden;
                        line-height: 1.6;
                        transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
                    }
                    .content {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 1vw;
                        padding: 2vw;
                        border-radius: 22px;
                        color: #ffffff;
                        overflow: hidden;
                        background: #ffffff;
                        transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
                    }
                    .content .heading {
                        font-weight: 700;
                        font-size: 2vw;
                        line-height: 1.3;
                        z-index: 1;
                        transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
                    }
                    .content .para {
                        z-index: 1;
                        opacity: 0.8;
                        font-size: 1.2vw;
                        transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
                    }
                    .card::before {
                        content: "";
                        position: absolute;
                        height: 160%;
                        width: 160%;
                        border-radius: inherit;
                        background: #0a3cff;
                        background: linear-gradient(to right, #0a3cff, #0a3cff);
                        transform-origin: center;
                        animation: moving 4.8s linear infinite paused;
                        transition: all 0.88s cubic-bezier(0.23, 1, 0.32, 1);
                    }
                    .card:hover::before {
                        animation-play-state: running;
                        z-index: -1;
                        width: 20%;
                    }
                    .card:hover .content .heading,
                    .card:hover .content .para {
                        color: #000000;
                    }
                    .card:hover {
                        box-shadow: 0rem 6px 13px rgba(10, 60, 255, 0.1), 0rem 24px 24px rgba(10, 60, 255, 0.09), 0rem 55px 33px rgba(10, 60, 255, 0.05), 0rem 97px 39px rgba(10, 60, 255, 0.01), 0rem 152px 43px rgba(10, 60, 255, 0);
                        scale: 1.05;
                        color: #000000;
                    }
                    @keyframes moving {
                        0% {
                            transform: rotate(0);
                        }
    
                        100% {
                            transform: rotate(360deg);
                        }
                    }
                }
            }
        }
        .seeall{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .line{
                width: 100%;
                border-bottom: 0.1vw solid white;
                transition: 1s;
            }
            a{
                transition: 1s;
                margin-left: 1vw;
                white-space: nowrap;
            }
            margin: 2vw 5vw;
        }
        .seeall:hover{
            .line{
                border-color: $color1;
            }
            a{
                color: $color1;
            }
        }
        .servicesBlock{
            background-color: $color2;
            margin: 10vw 5vw;
            padding: 1vw 0;
            .servicesList{
                margin: 1vw;
                padding: 0 5vw;
                display: grid;
                grid-template-columns: auto auto auto;
                justify-content: space-between;
                row-gap: 2vw;
                a{
                    transition: 1s;
                }
                a:hover{
                    color: $color1;
                }
            }
        }
        .doctorsBlock{
            margin: 2vw 5vw;
            div{
                .doctor{
                    display: flex;
                    background: rgba(255, 255, 255, 0.2);
                    border-radius: 1vw;
                    overflow: hidden;
                    width: 100%;
                    height: 40vw;
                    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                    backdrop-filter: blur(5px);
                    -webkit-backdrop-filter: blur(5px);
                    border: 1px solid rgba(255, 255, 255, 0.3);
                    .img{
                        img{
                            width: 40vw;
                            height: 40vw;
                            object-fit: cover;
                            margin-right: 2vw;
                            object-position: top;
                        }
                    }
                    .info{
                        padding: 5vw 0;
                        text-align: center;
                        .name{
                            font-size: 3vw;
                        }
                        .btn{
                            background-color: $color1;
                            margin-top: 4vw;
                            padding: 1vw 4vw;
                            border-radius: 5vw;
                        }
                        .desc{
                            margin: 4vw 0;
                        }
                    }
                }
            }
        }
        .reviewsHeader{
            margin-top: 5vw;
        }
        .reviewsBlock{
            display: flex;
            flex-direction: column;
            align-items: center;
            .review{
                margin: 2vw 0;
                padding: 5vw;
                width: 50vw;
                background-color: white;
                color: black;
                border-radius: 1vw;
            }
        }
        .firstBlock{
            margin: 2vw 15vw;
            padding: 5vw 0;
            .btn{
                display: flex;
                justify-content: center;
                a{
                    color: white;
                    font-size: 1.4vw;
                    background-color: $color1;
                    padding: 1vw 4vw;
                    border-radius: 5vw;
                }
            }
        }
        .specialties{
            margin: 2vw 5vw;
            display: grid;
            grid-template-columns: auto auto;
            justify-content: space-between;
            row-gap: 2vw;
            .specialty{
                background-color: $color2;
                padding: 3vw;
                width: 40vw;
            }
        }
        .secondBlock{
            margin: 2vw 5vw;
            padding: 5vw;
            background-color: $color2;
        }
        .consultations{
            background-color: $color2;
            padding: 2vw 5vw;
        }
    }
    footer{
        .float2{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .left{
                display: flex;
                width: 100%;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .btn{
                    background-color: $color1;
                    padding: 1vw 4vw;
                    border-radius: 5vw;
                    margin-top: 5vw;
                }
            }
            .right{
                iframe{
                    width: 50vw;
                    height: 40vw;
                }
            }
        }
        
        .float1{
            display: flex;
            margin: 2vw 0;
            justify-content: center;
            align-items: center;
            a{
                display: flex;
                align-items: center;
                border: 0.1vw solid white;
                border-radius: 100%;
                padding: 1vw;
                transition: 1s;
                img{
                    width: 2vw;
                }
                margin-left: 1vw;
            }
            a:hover{
                border-color: $color1;
            }
        }
        .float0{
            background-color: $color2;
            padding: 1vw;
        }
    }
}
@media screen and (min-width: 1001px) {
    body{
        .navbarBlock{
            .mob{
                display: none;
            }
        }
    }
}
@media screen and (max-width: 1000px) {
    body{
        font-size: 3vw;
        .navbarBlock{
            span{
                .logo{
                    font-size: 5vw;
                    img{
                        width: 8vw;
                    }
                }
            }
            .web{
                display: none;
            }
            .mob{
                .dropdown{
                    button{
                        img{
                            width: 5vw;
                        }
                    }
                }
            }
        }
        header{
            .headerSlider{
                div{
                    img{
                        height: 95vh;
                    }
                }
            }
            .headerStatic{
                bottom: 75vw;
                .btn{
                    padding: 3vw 11vw;
                    border-radius: 10vw;
                    font-size: 7vw;
                    margin-top: 10vw;
                }
            }
        }
        main{
            .firstBlock{
                .btn{
                    a{
                        font-size: 4vw;
                    }
                }
            }
            .secondBlock{
                display: none;
            }
            .consultations{
                display: none;
            }
            .reviewsBlock{
                .review{
                    width: 90vw;
                }
            }
            .doctorsBlock{
                .doctor{
                    .info{
                        padding: 3vw 0;
                        p{
                            line-clamp: 4;
                            -webkit-line-clamp: 4;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            margin: 0;
                        }
                        .btn{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}