@font-face {
  font-family: monomakh;
  src: url(../font/Monomakh-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
  max-width: 1920px;
  margin: auto;
  scroll-behavior: smooth;
}

body {
  color: white;
  font-size: 1.3vw;
  font-family: monomakh;
  background: #03051f;
  background: linear-gradient(125deg, rgb(3, 5, 31) 0%, rgb(21, 40, 73) 56%);
  background-attachment: fixed;
}
body p {
  margin: 0;
}
body a {
  text-decoration: none;
  color: white;
}
body .btn {
  color: white;
}
body #myBtn {
  display: none;
  position: fixed;
  bottom: 2vw;
  right: 2vw;
  z-index: 99;
  background: none;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  transition: 2s;
}
body #myBtn i {
  font-size: 2.5vw;
}
body #myBtn:hover {
  color: white;
}
body .navbarBlock {
  display: flex;
}
body .navbarBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2vw 5vw;
}
body .navbarBlock span {
  display: flex;
  align-items: center;
}
body .navbarBlock span .left {
  margin-right: 1vw;
  color: white;
}
body .navbarBlock span .logo {
  font-size: 2vw;
  color: white;
}
body .navbarBlock span .logo img {
  margin-right: 1vw;
  width: 4vw;
}
body .navbarBlock span .dropdown button {
  background: none;
  border: 0;
}
body .navbarBlock span .dropdown button img {
  width: 2vw;
}
body .navbarBlock span .dropdown .dropdown-menu {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 0.7vw;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
body .navbarBlock span .dropdown .dropdown-menu a {
  color: white;
}
body .navbarBlock span .dropdown .dropdown-menu a:hover {
  background: #2697c4;
}
body header {
  position: relative;
}
body header .headerSlider div img {
  width: 100%;
  height: 90vh;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(60%);
}
body header .headerStatic {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 15vw;
  width: 100%;
  justify-content: center;
}
body header .headerStatic .btn {
  padding: 1vw 3vw;
  background-color: #2697c4;
  border-radius: 5vw;
  font-size: 1.4vw;
  margin-top: 5vw;
}
body main {
  min-height: 100vh;
}
body main .blog {
  margin: 2vw 5vw;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
}
body main .blog .articles a .card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 27vw;
  height: 15vw;
  padding: 1vw;
  border-radius: 1vw;
  overflow: hidden;
  line-height: 1.6;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}
body main .blog .articles a .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1vw;
  padding: 2vw;
  border-radius: 22px;
  color: #ffffff;
  overflow: hidden;
  background: #ffffff;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}
body main .blog .articles a .content .heading {
  font-weight: 700;
  font-size: 2vw;
  line-height: 1.3;
  z-index: 1;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}
body main .blog .articles a .content .para {
  z-index: 1;
  opacity: 0.8;
  font-size: 1.2vw;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}
body main .blog .articles a .card::before {
  content: "";
  position: absolute;
  height: 160%;
  width: 160%;
  border-radius: inherit;
  background: #0a3cff;
  background: linear-gradient(to right, #0a3cff, #0a3cff);
  transform-origin: center;
  animation: moving 4.8s linear infinite paused;
  transition: all 0.88s cubic-bezier(0.23, 1, 0.32, 1);
}
body main .blog .articles a .card:hover::before {
  animation-play-state: running;
  z-index: -1;
  width: 20%;
}
body main .blog .articles a .card:hover .content .heading,
body main .blog .articles a .card:hover .content .para {
  color: #000000;
}
body main .blog .articles a .card:hover {
  box-shadow: 0rem 6px 13px rgba(10, 60, 255, 0.1), 0rem 24px 24px rgba(10, 60, 255, 0.09), 0rem 55px 33px rgba(10, 60, 255, 0.05), 0rem 97px 39px rgba(10, 60, 255, 0.01), 0rem 152px 43px rgba(10, 60, 255, 0);
  scale: 1.05;
  color: #000000;
}
@keyframes moving {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
body main .seeall {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2vw 5vw;
}
body main .seeall .line {
  width: 100%;
  border-bottom: 0.1vw solid white;
  transition: 1s;
}
body main .seeall a {
  transition: 1s;
  margin-left: 1vw;
  white-space: nowrap;
}
body main .seeall:hover .line {
  border-color: #2697c4;
}
body main .seeall:hover a {
  color: #2697c4;
}
body main .servicesBlock {
  background-color: #172869;
  margin: 10vw 5vw;
  padding: 1vw 0;
}
body main .servicesBlock .servicesList {
  margin: 1vw;
  padding: 0 5vw;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  row-gap: 2vw;
}
body main .servicesBlock .servicesList a {
  transition: 1s;
}
body main .servicesBlock .servicesList a:hover {
  color: #2697c4;
}
body main .doctorsBlock {
  margin: 2vw 5vw;
}
body main .doctorsBlock div .doctor {
  display: flex;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1vw;
  overflow: hidden;
  width: 100%;
  height: 40vw;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
body main .doctorsBlock div .doctor .img img {
  width: 40vw;
  height: 40vw;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 2vw;
  -o-object-position: top;
     object-position: top;
}
body main .doctorsBlock div .doctor .info {
  padding: 5vw 0;
  text-align: center;
}
body main .doctorsBlock div .doctor .info .name {
  font-size: 3vw;
}
body main .doctorsBlock div .doctor .info .btn {
  background-color: #2697c4;
  margin-top: 4vw;
  padding: 1vw 4vw;
  border-radius: 5vw;
}
body main .doctorsBlock div .doctor .info .desc {
  margin: 4vw 0;
}
body main .reviewsHeader {
  margin-top: 5vw;
}
body main .reviewsBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main .reviewsBlock .review {
  margin: 2vw 0;
  padding: 5vw;
  width: 50vw;
  background-color: white;
  color: black;
  border-radius: 1vw;
}
body main .firstBlock {
  margin: 2vw 15vw;
  padding: 5vw 0;
}
body main .firstBlock .btn {
  display: flex;
  justify-content: center;
}
body main .firstBlock .btn a {
  color: white;
  font-size: 1.4vw;
  background-color: #2697c4;
  padding: 1vw 4vw;
  border-radius: 5vw;
}
body main .specialties {
  margin: 2vw 5vw;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  row-gap: 2vw;
}
body main .specialties .specialty {
  background-color: #172869;
  padding: 3vw;
  width: 40vw;
}
body main .secondBlock {
  margin: 2vw 5vw;
  padding: 5vw;
  background-color: #172869;
}
body main .consultations {
  background-color: #172869;
  padding: 2vw 5vw;
}
body footer .float2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body footer .float2 .left {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body footer .float2 .left .btn {
  background-color: #2697c4;
  padding: 1vw 4vw;
  border-radius: 5vw;
  margin-top: 5vw;
}
body footer .float2 .right iframe {
  width: 50vw;
  height: 40vw;
}
body footer .float1 {
  display: flex;
  margin: 2vw 0;
  justify-content: center;
  align-items: center;
}
body footer .float1 a {
  display: flex;
  align-items: center;
  border: 0.1vw solid white;
  border-radius: 100%;
  padding: 1vw;
  transition: 1s;
  margin-left: 1vw;
}
body footer .float1 a img {
  width: 2vw;
}
body footer .float1 a:hover {
  border-color: #2697c4;
}
body footer .float0 {
  background-color: #172869;
  padding: 1vw;
}

@media screen and (min-width: 1001px) {
  body .navbarBlock .mob {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  body {
    font-size: 3vw;
  }
  body .navbarBlock span .logo {
    font-size: 5vw;
  }
  body .navbarBlock span .logo img {
    width: 8vw;
  }
  body .navbarBlock .web {
    display: none;
  }
  body .navbarBlock .mob .dropdown button img {
    width: 5vw;
  }
  body header .headerSlider div img {
    height: 95vh;
  }
  body header .headerStatic {
    bottom: 75vw;
  }
  body header .headerStatic .btn {
    padding: 3vw 11vw;
    border-radius: 10vw;
    font-size: 7vw;
    margin-top: 10vw;
  }
  body main .firstBlock .btn a {
    font-size: 4vw;
  }
  body main .secondBlock {
    display: none;
  }
  body main .consultations {
    display: none;
  }
  body main .reviewsBlock .review {
    width: 90vw;
  }
  body main .doctorsBlock .doctor .info {
    padding: 3vw 0;
  }
  body main .doctorsBlock .doctor .info p {
    line-clamp: 4;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 0;
  }
  body main .doctorsBlock .doctor .info .btn {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */