{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block main %}
    {% include 'addons/header.html' %}
    <main id="main">
        {% for maintext in maintexts %}
            <div class="firstBlock">
                <p>{{maintext.firstBlockTitle | safe}}</p>
                <div class="btn">
                    <a href="tel:+{{maintext.contact_link}}">Contact with us</a>
                </div>
            </div>
            <div class="secondBlock">
                <p>{{maintext.secondBlockTitle | safe}}</p>
            </div>
            <p>{{maintext.thirdBlockTitle | safe}}</p>
            <div class="specialties">
                {% for specialty in specialties %}
                    <div class="specialty">
                        <p>{{specialty.desc | safe}}</p>
                    </div>
                {% endfor %}
            </div>
            <div class="consultations">
                <p>{{maintext.consultations | safe}}</p>
            </div>
        {% endfor %}
    </main>
{% endblock %}