{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block main %}
    {% include 'addons/header.html' %}
    <main id="main">
        {% for maintext in maintexts %}
            <div class="firstBlock">
                <p>{{maintext.firstBlockTitle | safe}}</p>
                <div class="btn">
                    <a href="tel:+{{maintext.contact_link}}">Contact with us</a>
                </div>
            </div>
            <div class="secondBlock">
                <p>{{maintext.secondBlockTitle | safe}}</p>
            </div>
            <p>{{maintext.thirdBlockTitle | safe}}</p>
            <div class="specialties">
                {% for specialty in specialties %}
                    <div class="specialty">
                        <p>{{specialty.desc | safe}}</p>
                    </div>
                {% endfor %}
            </div>
            <div class="consultations">
                <p>{{maintext.consultations | safe}}</p>
            </div>
            <p class="reviewsHeader">{{maintext.reviewsHeader | safe}}</p>
            <div class="reviewsBlock">
                {% for post in reviews %}
                    <div class="review">
                        <p>{{post.review | safe}}</p>
                    </div>
                {% endfor %}
            </div>
            <div class="doctorsBlock" id="doctors">
                {% for doctor in doctors %}
                    <div>
                        <div class="doctor">
                            <a href="{% url 'index' %}" class="img">
                                <img src="{{doctor.img}}">
                            </a>
                            <div class="info">
                                <a href="{% url 'index' %}" class="name">{{doctor.name}}</a>
                                <p class="desc">{{doctor.desc | safe}}</p>
                                <a href="{% url 'index' %}" class="btn">Learn more about {{doctor.name}}</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="seeall">
                <div class="line"></div>
                <a href="{% url 'index' %}">See all doctors</a>
            </div>
            <div class="servicesBlock" id="services">
                <p class="reviewsHeader">{{maintext.servicesHeader | safe}}</p>
                <div class="servicesList">
                    {% for service in servies %}
                    <li><a href="{% url 'index' %}">{{service.name}}</a></li>
                    {% endfor %}
                </div>
            </div>
            <div class="blog">
                {% for article in blog %}
                    <div class="articles">
                        <a href="{% url 'index' %}">
                            <div class="card">
                                <div class="content">
                                    <p class="heading">{{article.date | date:"d M, Y"}}</p>
                                    <p class="para">{{article.name}}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </main>
{% endblock %}