@font-face {
  font-family: muli;
  src: url(../font/MuliLight-lg9VZ.ttf);
}
* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
  max-width: 1920px;
  margin: auto;
  scroll-behavior: smooth;
}

body {
  color: white;
  font-size: 1.3vw;
  font-family: muli;
  background: #223695;
}
body p {
  margin: 0;
}
body a {
  text-decoration: none;
  color: white;
}
body .btn {
  color: white;
}
body .navbarBlock {
  padding: 2.5vw 3.5vw;
  position: relative;
  z-index: 99999;
  background-color: #223695;
}
body .navbarBlock .float1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .navbarBlock .float1 span {
  display: flex;
  align-items: center;
}
body .navbarBlock .float1 span .dropdown .btnmenu {
  color: #62b2fd;
  margin-left: 2vw;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  font-size: 1.3vw;
}
body .navbarBlock .float1 span .dropdown .btnmenu i {
  font-size: 1.6vw;
}
body .navbarBlock .float1 span .dropdown .dropdown-menu {
  width: 100vw;
  border-radius: 0;
  border: 0;
  background: #223695;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  inset: 4.5vw 1vw auto auto !important;
  padding: 2vw;
  transform: translate3d(60px, 28px, 0px) !important;
}
body .navbarBlock .float1 span .dropdown .dropdown-menu .menuContent {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 1vw;
}
body .navbarBlock .float1 span .dropdown .dropdown-menu .menuContent .block {
  display: flex;
  flex-direction: column;
  text-align: center;
}
body .navbarBlock .float1 span .dropdown .dropdown-menu .menuContent .block p {
  font-size: 2vw;
  margin-bottom: 2vw;
  color: white;
}
body .navbarBlock .float1 span .dropdown .dropdown-menu .menuContent .block a {
  margin-bottom: 1vw;
  color: #62b2fd;
  font-size: 1.3vw;
  transition: 1s;
  padding-bottom: 1vw;
  border-bottom: 0.1vw solid rgba(255, 255, 255, 0.2);
}
body .navbarBlock .float1 span .dropdown .dropdown-menu .menuContent .block a:hover {
  color: white;
}
body .navbarBlock .float1 span .dropdown .dropdown-menu .viewall {
  display: flex;
  justify-content: center;
}
body .navbarBlock .float1 span .dropdown .dropdown-menu .viewall .seeall {
  font-size: 1.8vw;
  color: #62b2fd;
  text-transform: uppercase;
  font-weight: bold;
  transition: 1s;
}
body .navbarBlock .float1 span .dropdown .dropdown-menu .viewall .seeall:hover {
  color: white;
}
body .navbarBlock .float1 span .logo img {
  margin-right: 1vw;
  width: 27vw;
  transition: 2s;
}
body .navbarBlock .float1 span .left {
  margin-left: 2vw;
  color: #62b2fd;
  text-transform: uppercase;
  font-size: 1.3vw;
  transition: 1s;
}
body .navbarBlock .float1 span .left:hover {
  color: white;
}
body header .headCarusel {
  position: relative;
}
body header .headCarusel img {
  width: 100%;
  height: 80vh;
  filter: brightness(80%);
  -o-object-fit: cover;
     object-fit: cover;
}
body header .headText {
  position: absolute;
  bottom: 15vw;
  text-align: end;
  right: 5vw;
}
body header .headText .f1 {
  font-size: 5vw;
}
body header .headText .f2 {
  font-size: 2.7vw;
  margin-bottom: 5vw;
}
body header .headText .discovery {
  background-color: #62b2fd;
  color: white;
  padding: 1.5vw 5vw;
  border-radius: 5vw;
  font-weight: bold;
}
body main {
  min-height: 100vh;
  background-image: url(../media/bk1.jpg);
  background-size: cover;
  background-attachment: fixed;
}
body main .firstModule {
  margin: 0 5vw;
  color: white;
  padding: 5vw 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main .firstModule .f1 {
  text-align: center;
  font-size: 4.5vw;
  font-weight: bold;
}
body main .firstModule .f2 {
  font-size: 2vw;
  color: #62b2fd;
  text-transform: uppercase;
  margin-bottom: 3vw;
}
body main .firstModule .f3 {
  width: 60%;
  margin-bottom: 2vw;
}
body main .firstModule .btn {
  margin-top: 5vw;
  color: white;
  background-color: #62b2fd;
  font-size: 1.3vw;
  font-weight: bold;
  padding: 1.5vw 5vw;
  border-radius: 5vw;
}
body main .firstModule .block {
  display: grid;
  grid-template-columns: auto auto;
  -moz-column-gap: 8vw;
       column-gap: 8vw;
  text-align: start;
  row-gap: 2vw;
}
body main .welcomeModule {
  margin: 5vw;
  color: white;
  background-color: #172869;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 2vw;
}
body main .welcomeModule .head {
  margin-bottom: 2vw;
  text-align: center;
}
body main .welcomeModule .head p {
  font-size: 2vw;
}
body main .welcomeModule .head .f1 {
  font-size: 4vw;
}
body main .welcomeModule .middle {
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 100%;
}
body main .welcomeModule .middle .left {
  width: 70%;
}
body main .welcomeModule .middle .left .tel {
  text-align: center;
}
body main .welcomeModule .middle .left .tel .btn {
  font-size: 2vw;
  border-radius: 0;
  border-bottom: 0.1vw solid #62b2fd;
  color: #62b2fd;
}
body main .welcomeModule .middle .right {
  margin-left: 7vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
  text-align: center;
}
body main .welcomeModule .middle .right p {
  margin-top: 1vw;
  font-weight: lighter;
  font-style: italic;
}
body main .welcomeModule .middle .right img {
  width: 40vw;
}
body main .welcomeModule .request {
  display: flex;
  justify-content: center;
  margin-top: 5vw;
}
body main .welcomeModule .request .btn {
  padding: 1.5vw 5vw;
  border-radius: 5vw;
  background-color: #62b2fd;
}
body main .special {
  margin: 4vw 5vw 2vw 5vw;
}
body main .special .head {
  font-size: 4vw;
  text-align: center;
}
body main .special .blocks {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 2vw;
  justify-content: space-between;
}
body main .special .blocks .block {
  width: 40vw;
  background-color: #172869;
  padding: 2vw;
  text-align: center;
}
body main .special .blocks .block .f1 {
  font-size: 2vw;
  margin-bottom: 1vw;
}
body main .doctorInLeft {
  margin: 2vw 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body main .doctorInLeft img {
  width: 40vw;
  margin-right: 5vw;
  height: 40vw;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
body main .doctorInLeft .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  text-align: center;
}
body main .doctorInLeft .text .name {
  font-size: 3vw;
}
body main .doctorInLeft .text .position {
  margin: 3vw 0;
  width: 30vw;
}
body main .doctorInLeft .text .btn {
  background-color: #62b2fd;
  margin-top: 2vw;
  padding: 1vw 3vw;
  font-size: 1.5vw;
}
body main .doctorInLeft:nth-child(even) img {
  margin: 0;
  margin-left: 5vw;
}
body main .mapBlock {
  height: 60vw;
  position: relative;
}
body main .mapBlock .map img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 60vw;
  filter: brightness(30%);
}
body main .mapBlock .text {
  margin-top: 4vw;
  padding: 2vw;
  top: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
body main .mapBlock .text .f1 {
  font-size: 4vw;
}
body main .mapBlock .text p {
  margin-bottom: 2vw;
  font-size: 2vw;
  width: 70%;
}
body main .mapBlock .text .btn {
  background-color: rgb(21, 40, 73);
  color: white;
  padding: 1vw 4vw;
  font-size: 2vw;
}
body main .blockHead {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2vw 0;
  margin: 2vw 0;
}
body main .blockHead .f1 {
  font-size: 4vw;
}
body main .blockHead .f2 {
  font-size: 2vw;
}
body footer {
  background-image: url(../media/bk1.jpg);
  background-size: cover;
  background-attachment: fixed;
}
body footer .float1 {
  position: relative;
}
body footer .float1 .background {
  height: 40vw;
  background-image: url(../media/bk3.jpg);
  background-size: cover;
  background-attachment: fixed;
}
body footer .float1 .context {
  margin: 5vw 3vw;
  top: 0;
  left: 0;
  display: flex;
  position: absolute;
}
body footer .float1 .context .left img {
  margin-right: 2vw;
  width: 20vw;
}
body footer .float1 .context .right p {
  margin-bottom: 1vw;
}
body footer .float1 .context .right .name {
  font-size: 4vw;
}
body footer .float1 .context .right .girdBlock {
  display: grid;
  grid-template-columns: auto auto;
  -moz-column-gap: 2vw;
       column-gap: 2vw;
}
body footer .address {
  display: flex;
  justify-content: space-between;
}
body footer .address .right iframe {
  height: 100%;
}
body footer .address .left {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5vw 0;
  justify-content: center;
  width: 100%;
}
body footer .address .left span {
  margin-bottom: 1vw;
}
body footer .address .left span .name {
  color: #62b2fd;
  font-size: 2.5vw;
}
body footer .address .left .btn {
  background-color: #62b2fd;
  padding: 1vw 3vw;
  border-radius: 5vw;
  margin: 1vw;
  font-weight: bold;
  font-size: 1.3vw;
}
body footer .contactWithUs {
  position: relative;
}
body footer .contactWithUs .background {
  background-image: url(../media/bk2.jpg);
  background-size: cover;
  background-attachment: fixed;
  filter: brightness(80%);
  height: 50vw;
}
body footer .contactWithUs .contactFrom {
  padding: 2vw 5vw;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
}
body footer .contactWithUs .contactFrom .head {
  font-size: 4vw;
  margin-bottom: 2vw;
  width: 30vw;
  text-align: center;
  font-weight: bold;
}
body footer .contactWithUs .contactFrom .middle {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
body footer .contactWithUs .contactFrom .middle .right {
  width: 50%;
}
body footer .contactWithUs .contactFrom .middle .left form {
  display: flex;
  flex-direction: column;
}
body footer .contactWithUs .contactFrom .middle .left form span {
  margin-bottom: 1vw;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 0.5vw;
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
}
body footer .contactWithUs .contactFrom .middle .left form span input {
  outline: none;
  background: none;
  width: 30vw;
  border: 0;
}
body footer .contactWithUs .contactFrom .middle .left form span input::-webkit-outer-spin-button,
body footer .contactWithUs .contactFrom .middle .left form span input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body footer .contactWithUs .contactFrom .middle .left form span .input_field[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
body footer .contactWithUs .contactFrom .middle .left form span textarea {
  background: none;
  border: 0;
  outline: none;
  width: 30vw;
  height: 10vw;
  resize: none;
}
body footer .share {
  display: flex;
  justify-content: center;
  padding: 5vw 0;
  align-items: center;
}
body footer .share p {
  font-size: 2.5vw;
  color: #62b2fd;
}
body footer .share a {
  border: 0.2vw solid #62b2fd;
  border-radius: 100%;
  padding: 1vw;
  margin-left: 1vw;
  transition: 1s;
}
body footer .share a img {
  width: 3vw;
}
body footer .share a:hover {
  border: 0.2vw solid white;
}
body footer .float0 {
  background-color: #223695;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}/*# sourceMappingURL=style.css.map */