@font-face {
    font-family: muli;
    src: url(../font/MuliLight-lg9VZ.ttf);
}
$color1: #223695;
$color2: #62b2fd;
$color3: #172869;
$color4: #070C24;
*{
    margin: 0;
    padding: 0;
}
html{
    width: 100%;
    height: 100%;
    max-width: 1920px;
    margin: auto;
    scroll-behavior: smooth;
}
body{
    color: white;
    p{
        margin: 0;
    }
    font-size: 1.3vw;
    a{
        text-decoration: none;
        color: white;
    }
    .btn{
        color: white;
    }
    #myBtn{
        display: none;
        position: fixed;
        bottom: 2vw;
        right: 2vw;
        z-index: 99;
        background: none;
        border: none;
        outline: none;
        color: white;
        cursor: pointer;
        transition: 2s;
        i{
            font-size: 2.5vw;
        }
    }
    #myBtn:hover{
        color: $color2;
    }
    font-family: muli;
    background: $color1;
    .navbarBlock{
        padding: 2.5vw 3.5vw;
        position: relative;
        z-index: 99999;
        background-color: $color1;
        .float1{
            display: flex;
            align-items: center;
            justify-content: space-between;
            span{
                display: flex;
                align-items: center;
                .dropdown{
                    .btnmenu{
                        color: $color2;
                        margin-left: 2vw;
                        text-transform: uppercase;
                        display: flex;
                        align-items: center;
                        font-size: 1.3vw;
                        i{
                            font-size: 1.6vw;
                        }
                    }
                    .dropdown-menu{
                        width: 100vw;
                        border-radius: 0;
                        border: 0;
                        background: $color1;
                        backdrop-filter: blur(5px);
                        -webkit-backdrop-filter: blur(5px);
                        inset: 4.5vw 1vw auto auto !important;
                        padding: 2vw;
                        transform: translate3d(60px, 28px, 0px) !important; 
                        .menuContent{
                            display: grid;
                            grid-template-columns: auto auto auto auto auto;
                            gap: 1vw;
                            .block{
                                display: flex;
                                flex-direction: column;
                                text-align: center;
                                p{
                                    font-size: 2vw;
                                    margin-bottom: 2vw;
                                    color: white;
                                }
                                a{
                                    margin-bottom: 1vw;
                                    color: #62b2fd;
                                    font-size: 1.3vw;
                                    transition: 1s;
                                    padding-bottom: 1vw;
                                    border-bottom: 0.1vw solid rgba(255, 255, 255, 0.2);
                                }
                                a:hover{
                                    color: white;
                                }
                            }
                        }
                        .viewall{
                            display: flex;
                            justify-content: center;
                            .seeall{
                                font-size: 1.8vw;
                                color: $color2;
                                text-transform: uppercase;
                                font-weight: bold;
                                transition: 1s;
                            }
                            .seeall:hover{
                                color: white;
                            }
                        }
                    }
                }
                .logo{
                    img{
                        margin-right: 1vw;
                        width: 27vw;
                        transition: 2s;
                    }
                }
                .left{
                    margin-left: 2vw;
                    color: $color2;
                    text-transform: uppercase;
                    font-size: 1.3vw;
                    transition: 1s;
                }
                .left:hover{
                    color: white;
                }
            }
        }
    }
    header{
        .headCarusel{
            position: relative;
            img{
                width: 100%;
                height: 80vh;
                filter: brightness(80%);
                object-fit: cover;
            }
        }
        .headText{
            position: absolute;
            bottom: 15vw;
            text-align: end;
            right: 5vw;
            .f1{
                font-size: 5vw;
            }
            .f2{
                font-size: 2.7vw;
                margin-bottom: 5vw;
            }
            .discovery{
                background-color: $color2;
                color: white;
                padding: 1.5vw 5vw;
                border-radius: 5vw;
                font-weight: bold;
            }
        }
    }
    main{
        min-height: 100vh;
        background-image: url(../media/bk1.jpg);
        background-size: cover;
        background-attachment: fixed;
        .lastesBlog{
            padding: 10vw 0;
            .head{
                font-size: 4.5vw;
                display: flex;
                align-items: center;
                margin-bottom: 5vw;
                word-spacing: 0.4vw;
                font-weight: bold;
                flex-direction: column;
                .f2{
                    font-size: 2vw;
                    color: $color2;
                }
            }
            .blog{
                display: grid;
                grid-template-columns: auto auto auto auto auto;
                justify-content: space-between;
                align-items: center;
                .line{
                    width: 0.1vw;
                    height: 100%;
                    border-right: 0.1vw solid white;
                }
                .article{
                    display: flex;
                    flex-direction: column;
                    width: 30vw;
                    text-align: center;
                    .date{
                        font-weight: bold;
                    }
                    a{
                        font-size: 1.8vw;
                        color: $color2;
                        font-weight: bold;
                        text-decoration: underline;
                        text-underline-offset: 0.3vw;
                    }
                }
            }
        }
        .memberships{
            margin: 2vw 5vw;
            padding: 5vw 0;
            .head{
                font-size: 4vw;
                display: flex;
                justify-content: center;
            }
            .logosBlock{
                display: grid;
                grid-template-columns: auto auto auto auto;
                row-gap: 2vw;
                margin-top: 4vw;
                justify-content: space-between;
                .img{
                    overflow: hidden;
                    padding: 1vw;
                    background: rgba(255, 255, 255, 0.2);
                    border-radius: 1vw;
                    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                    backdrop-filter: blur(5px);
                    -webkit-backdrop-filter: blur(5px);
                    border: 1px solid rgba(255, 255, 255, 0.3);
                    img{
                        width: 15vw;
                        height: 15vw;
                        object-fit: cover;
                    }
                }
            }
        }
        .doctorsBlock{
            .doctor{
                position: relative;
                .relativeSide{
                    display: flex;
                    .img{
                        img{
                            width: 49.45vw;
                            height: 55vw;
                            object-fit: cover;
                            object-position: top;
                        }
                    }
                    .empty{
                        width: 50vw;
                        height: 55vw;
                        background-color: $color4;
                    }
                }
                .info{
                    top: 2vw;
                    padding: 5vw;
                    width: 50vw;
                    height: 50vw;
                    right: 10vw;
                    display: flex;
                    flex-direction: column;
                    background-color: $color1;
                    position: absolute;
                    .name{
                        text-align: center;
                        font-size: 5vw;
                    }
                    .btnDetailView{
                        display: flex;
                        justify-content: center;
                        .btn{
                            font-weight: bold;
                            padding: 1vw 2vw;
                            border-radius: 5vw;
                            background: $color2;
                            margin-top: 2vw;
                            width: fit-content;
                        }
                    }
                }
            }
        }
        .doctorsBlocksecond{
            .doctor{
                .info{
                    left: 10vw;
                }
            }
        }
        .firstModule{
            margin: 0 5vw;
            color: white;
            padding: 5vw 0 0 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            .f1{
                text-align: center;
                font-size: 4.5vw;
                font-weight: bold;
            }
            .f2{
                font-size: 2vw;
                color: $color2;
                text-transform: uppercase;
                margin-bottom: 3vw;
            }
            .f3{
                width: 60%;
                margin-bottom: 2vw;
            }
            .btn{
                margin-top: 5vw;
                color: white;
                background-color: $color2;
                font-size: 1.3vw;
                font-weight: bold;
                padding: 1.5vw 5vw;
                border-radius: 5vw;
            }
            .block{
                display: grid;
                grid-template-columns: auto auto;
                column-gap: 8vw;
                text-align: start;
                row-gap: 2vw;
            }
        }
        .welcomeModule{
            margin:5vw;
            color: white;
            background-color: $color3;
            padding: 2vw;
            .head{
                margin-bottom: 2vw;
                text-align: center;
                p{
                    font-size: 2vw;
                }
                .f1{
                    font-size: 4vw;
                }
                .f2{
                    color: $color2;
                }
            }
            .middle{
                display: flex;
                align-items: start;
                justify-content: space-between;
                width: 100%;
                .left{
                    width: 70%;
                    .tel{
                        text-align: center;
                        .btn{
                            font-size: 2vw;
                            border-radius: 0;
                            border-bottom: 0.1vw solid $color2;
                            color: $color2;
                        }
                    }
                }
                .right{
                    margin-left: 7vw;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 40vw;
                    text-align: center;
                    p{
                        margin-top: 1vw;
                        font-weight: lighter;
                        font-style: italic;
                    }
                    img{
                        width: 40vw;
                    }
                }
            }
            .requestBtn{
                display: flex;
                justify-content: center;
                margin-top: 5vw;
                .btn{
                    padding: 1.5vw 5vw;
                    border-radius: 5vw;
                    background-color: $color2;
                }
            }
        }
        .welcomeModulesecond{
            margin: 0;
        }
        .special{
            margin: 4vw 5vw 2vw 5vw;
            .head{
                font-size: 5vw;
                margin-bottom: 4vw;
                text-align: center;
            }
            .blocks{
                display: grid;
                grid-template-columns: auto auto;
                row-gap: 2vw;
                justify-content: space-between;
                .block{
                    width: 40vw;
                    background-color: $color3;
                    padding: 2vw;
                    text-align: center;
                    .f1{
                        font-size: 2vw;
                        margin-bottom: 1vw;
                    }
                }
            }
        }
        .googleReviewsBlock{
            position: relative;
            .background{
                height: 50vw;
                background-image: url(../media/bk4.jpg);
                background-size: cover;
                background-attachment: fixed;
                filter: brightness(70%);
            }
            .googleReviewBox{
                width: 100%;
                padding: 5vw 0;
                top: 0;
                position: absolute;
                .head{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .f1{
                        font-size: 4vw;
                        font-weight: bold;
                    }
                    .f2{
                        font-size: 2vw;
                        text-transform: uppercase;
                    }
                }
                .reviews{
                    display: grid;
                    justify-content: space-between;
                    grid-template-columns: auto auto;
                    margin: 2vw 5vw;
                    .review{
                        background-color: white;
                        color: black;
                        width: 40vw;
                        display: flex;
                        flex-direction: column;
                        padding: 2vw;
                        a{
                            color: black;
                            text-decoration: underline;
                            text-underline-offset: 0.2vw;
                        }
                        .top{
                            display: flex;
                            justify-content: space-between;
                            align-items: start;
                            .person{
                                display: flex;
                                .img{
                                    margin-right: 1vw;
                                    img{
                                        border-radius: 100%;
                                        width: 5vw;
                                        height: 5vw;
                                        object-fit: cover;
                                        object-position: top;
                                    }
                                }
                                .infoBlock{
                                    display: flex;
                                    flex-direction: column;
                                    .name{
                                        font-weight: bold;
                                    }
                                    .star{
                                        img{
                                            width: 8vw;
                                        }
                                    }
                                }
                            }
                            .gimg{
                                img{
                                    width: 3vw;
                                }
                            }
                        }
                        .middle{
                            margin: 2vw 0;
                        }
                    }
                }
            }
        }
        .mapBlock{
            height: 60vw;
            position: relative;
            .map{
                img{
                    object-fit: cover;
                    width: 100%;
                    height: 60vw;
                    filter: brightness(30%);
                }
            }
            .text{
                margin-top: 4vw;
                padding: 2vw;
                top: 0;
                position: absolute;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                .f1{
                    font-size: 4vw;
                }
                p{
                    margin-bottom: 2vw;
                    font-size: 2vw;
                    width: 70%;
                }
                .btn{
                    background-color: rgb(21,40,73);
                    color: white;
                    padding: 1vw 4vw;
                    font-size: 2vw;
                }
            }
        }
        .servicesBlock{
            padding: 5vw 0;
            .servicesHeadText{
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                margin-bottom: 5vw;
                .f1{
                    font-size: 4vw;
                }
                .f2{
                    font-size: 2.5vw;
                    color: $color2;
                }
            }   
            .servies{
                .service{
                    display: flex;
                    justify-content: space-between;
                    .img{
                        img{
                            width: 49.4vw;
                            height: 49.4vw;
                        }
                    }
                    .info{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        padding: 0 5vw;
                        text-align: center;
                        .name{
                            font-size: 2vw;
                            font-weight: bold;
                            color: $color2;
                        }
                        .txt{
                            margin: 2vw 0;
                        }
                        .btn{
                            background-color: $color2;
                            padding: 1vw 3vw;
                            border-radius: 5vw;
                        }
                    }
                }
            }
        }
        .serviesList{
            background-color: $color3;
            margin: 2vw 5vw;
            padding: 5vw 0;
            .head{
                display: flex;
                justify-content: center;
                font-size: 3vw;
            }
            .list{
                display: grid;
                grid-template-columns: auto auto;
                justify-content: space-around;
                row-gap: 1vw;
                margin: 2vw 0;
                a{
                    color: $color2;
                    text-decoration: underline;
                    text-underline-offset: 0.3vw;
                }
            }
        }
        .request{
            position: relative;
            height: 50vw;
            .background{
                height: 50vw;
                background-image: url(../media/bk3.jpg);
                background-size: cover;
                background-attachment: fixed;
            }
            .context{
                position: absolute;
                top: 0;
                left: 0;
                .head{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    .f1{
                        font-size: 4vw;
                    }
                    .f2{
                        font-size: 2.5vw;
                        color: $color2;
                    }
                }
                .txt{
                    display: flex;
                    justify-content: center;
                    p{
                        width: 70%;
                    }
                    margin: 4vw 0;
                }
                padding: 5vw 0;
                .links{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .tel{
                        margin-bottom: 2vw;
                        color: $color2;
                        font-size: 2.5vw;
                    }
                    .btn{
                        background-color: $color2;
                        padding: 1vw 3vw;
                        border-radius: 5vw;
                    }
                }
            }
        }
    }
    footer{
        background-image: url(../media/bk1.jpg);
        background-size: cover;
        background-attachment: fixed;
        .float1{
            position: relative;
            .background{
                height: 40vw;
                background-image: url(../media/bk3.jpg);
                background-size: cover;
                background-attachment: fixed;
            }
            .context{
                margin: 5vw 3vw;
                top: 0;
                left: 0;
                display: flex;
                position: absolute;
                .left{
                    img{
                        margin-right: 2vw;
                        width: 20vw;
                    }
                }
                .right{
                    p{
                        margin-bottom: 1vw;
                    }
                    .name{
                        font-size: 4vw;
                    }
                    .girdBlock{
                        display: grid;
                        grid-template-columns: auto auto;
                        column-gap: 2vw;
                    }
                }
            }
        }
        .address{
            display: flex;
            justify-content: space-between;
            .right{
                iframe{
                    width: 100%;
                    height: 100%;
                }
            }
            .left{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 5vw 0;
                justify-content: center;
                width: 100%;
                span{
                    .name{
                        color: $color2;
                        font-size: 2.5vw;
                    }
                    margin-bottom: 1vw;
                }
                .btn{
                    background-color: $color2;
                    padding: 1vw 3vw;
                    border-radius: 5vw;
                    margin: 1vw;
                    font-weight: bold;
                    font-size: 1.3vw;
                }
            }
        }
        .contactWithUs{
            position: relative;
            .background{
                background-image: url(../media/bk2.jpg);
                background-size: cover;
                background-attachment: fixed;
                filter: brightness(80%);
                height: 50vw;
            }
            .contactFrom{
                padding: 2vw 5vw;
                .head{
                    font-size: 4vw;
                    margin-bottom: 2vw;
                    width: 30vw;
                    text-align: center;
                    font-weight: bold;
                }
                top: 0;
                left: 0;
                position: absolute;
                display: flex;
                flex-direction: column;
                .middle{
                    display: flex;
                    justify-content: space-between;
                    align-items: start;
                    .right{
                        width: 50%;
                    }
                    .left{
                        form{
                            display: flex;
                            flex-direction: column;
                            span{
                                margin-bottom: 1vw;
                                background: rgba(255, 255, 255, 0.2);
                                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                                backdrop-filter: blur(5px);
                                -webkit-backdrop-filter: blur(5px);
                                padding: 0.5vw;
                                border: 1px solid rgba(255, 255, 255, 0.3);
                                display: flex;
                                flex-direction: column;
                                input{
                                    outline: none;
                                    background: none;
                                    width: 30vw;
                                    border: 0;
                                }
                                input::-webkit-outer-spin-button,
                                input::-webkit-inner-spin-button {
                                -webkit-appearance: none;
                                    margin: 0;
                                }
                                .input_field[type=number] {
                                    -moz-appearance: textfield;
                                    -webkit-appearance: textfield;
                                    -moz-appearance: textfield;
                                    appearance: textfield;
                                }
                                textarea{
                                    background: none;
                                    border: 0;
                                    outline: none;
                                    width: 30vw;
                                    height: 10vw;
                                    resize: none;
                                }
                            }
                        }
                    }
                }
            }
        }
        .share{
            display: flex;
            justify-content: center;
            padding: 5vw 0;
            p{
                font-size: 2.5vw;
                color: $color2;
            }
            align-items: center;
            a{
                border: 0.2vw solid $color2;
                border-radius: 100%;
                padding: 1vw;
                margin-left: 1vw;
                transition: 1s;
                img{
                    width: 3vw;
                }
            }
            a:hover{
                border: 0.2vw solid white;
            }
        }
        .float0{
            background-color: $color1;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }
}
@media screen and (min-width: 1001px) {
    body{
        .mobnavBar{
            display: none;
        }
    }
}
@media screen and (max-width: 1000px) {
    body{
        #myBtn{
            i{
                font-size: 7vw;
            }
        }
        .navbarBlock{
            display: none;
        }
        .mobnavBar{
            background-color: $color1;
            .float1{
                padding: 1vw 0.2vw;
                background-color: $color1;
                font-size: 4vw;
                width: 100%;
                display: grid;
                grid-template-columns: auto auto auto auto;
                gap: 1vw;
                position: fixed;
                top: 0;
                left: 0;
                z-index: 99999;
                button{
                    background: none;
                    border: 0;
                    color: white;
                }
                .offcanvas{
                    background-color: $color1;
                    color: white;
                    .offcanvas-body{
                        display: flex;
                        flex-direction: column;
                        a{
                            font-size: 6vw;
                            margin-bottom: 1vw;
                        }
                    }
                }
            }
            .float2{
                margin-top: 10vw;
                display: flex;
                justify-content: center;
                .logoMob{
                    img{
                        width: 55vw;
                    }
                }
            }
        }
        header{
            .headCarusel{
                img{
                    height: 90vh;
                    filter: brightness(60%);
                }
            }
            .headText{
                width: 100%;
                display: flex;
                flex-direction: column;
                right: 0;
                bottom: 30vw;
                align-items: center;
                .f1{
                    font-size: 8vw;
                    font-weight: bold;
                }
                .f2{
                    font-size: 4vw;
                }
                .discovery{
                    font-size: 4vw;
                    border-radius: 12vw;
                    padding: 4vw 20vw;
                }
            }
        }
    }
}