@font-face {
    font-family: monomakh;
    src: url(../font/Monomakh-Regular.ttf);
}
$color1: #2697c4;
$color2: #172869;
*{
    margin: 0;
    padding: 0;
}
html{
    width: 100%;
    height: 100%;
    max-width: 1920px;
    margin: auto;
    scroll-behavior: smooth;
}
body{
    color: white;
    p{
        margin: 0;
    }
    font-size: 1.3vw;
    a{
        text-decoration: none;
        color: white;
    }
    .btn{
        color: white;
    }
    #myBtn{
        display: none;
        position: fixed;
        bottom: 2vw;
        right: 2vw;
        z-index: 99;
        background: none;
        border: none;
        outline: none;
        color: white;
        cursor: pointer;
        transition: 2s;
        i{
            font-size: 2.5vw;
        }
    }
    #myBtn:hover{
        color: white;
    }
    .navbarBlock{
        display: flex;
    }
    font-family: monomakh;
    background: #03051f;
    background: linear-gradient(125deg, rgba(3,5,31,1) 0%, rgba(21,40,73,1) 56%);
    background-attachment: fixed;
    .navbarBlock{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 2vw 5vw;
        span{
            display: flex;
            align-items: center;
            .left{
                margin-right: 1vw;
                color: white;
            }
            .logo{
                font-size: 2vw;
                color: white;
                img{
                    margin-right: 1vw;
                    width: 4vw;
                }
            }
            .dropdown{
                button{
                    img{
                        width: 2vw;
                    }
                    background: none;
                    border: 0;
                }
                .dropdown-menu{
                    a{
                        color: white;
                    }
                    a:hover{
                        background: $color1;
                    }
                    background: rgba(255, 255, 255, 0.2);
                    border-radius: 0.7vw;
                    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                    backdrop-filter: blur(5px);
                    -webkit-backdrop-filter: blur(5px);
                    border: 1px solid rgba(255, 255, 255, 0.3);
                }
            }
        }
    }
    main{
        min-height: 100vh;
        .firstBlock{
            margin: 2vw 15vw;
            .btn{
                display: flex;
                justify-content: center;
                a{
                    color: white;
                    font-size: 1.4vw;
                    background-color: $color1;
                    padding: 1vw 4vw;
                    border-radius: 5vw;
                }
            }
        }
        .specialties{
            margin: 2vw 5vw;
            display: grid;
            grid-template-columns: auto auto;
            justify-content: space-between;
            row-gap: 2vw;
            .specialty{
                background-color: $color2;
                padding: 3vw;
                width: 40vw;
            }
        }
        .secondBlock{
            margin: 2vw 5vw;
            padding: 5vw;
            background-color: $color2;
        }
        .consultations{
            background-color: $color2;
            padding: 2vw 5vw;
        }
    }
}
@media screen and (min-width: 1001px) {

}
@media screen and (max-width: 1000px) {
  
}